<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/ed-grid.css")
    link(rel="stylesheet", href="font-awesome-4.5.0/css/font-awesome.css")
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="js/script.js")
    title DeveloPlus
  body
    header#header
      .ed-container
        .ed-item
          h2.logo Develo
            span Plus
          p.subtitle A permanent hair loss solution
        .ed-item
          #mostrar-menu
            a(href="#")
              i.fa.fa-bars  Menu
          ul.menu
            li.menu__item: a.menu__link(href="#") Home
            li.menu__item: a.menu__link(href="#") About us
            li.menu__item: a.menu__link(href="#") Services
            li.menu__item: a.menu__link(href="#") Blog
            li.menu__item: a.menu__link(href="#") Contacts
      .ed-container
        .ed-item
          .banner
            img(src="img/banner.jpg", alt="banner.jpg")
            .copy
              h2.copy__title Effective
                span DeveloPlus
              p.copy__description.
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet culpa iusto rerum, id illum ea soluta sint voluptatem laboriosam est.
              a.copy__banner(href="#") more
    section#servicios
    .ed-container
      .ed-item
        h2.section-title servicios
          span What we offer to our clients!
      .ed-item
        .servicio
          span
            i.fa.fa-check.fa-2x
          h3.servicio__title Deve Quickly
          p.servicio__description
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sequi placeat maxime voluptatum est eos perspiciatis consequuntur voluptates saepe magnam possimus natus, dolorem vel, harum ut reiciendis autem? Assumenda, deserunt.
      .ed-item
        .servicio
          span
            i.fa.fa-leaf.fa-2x
          h3.servicio__title Deve Quickly
          p.servicio__description
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sequi placeat maxime voluptatum est eos perspiciatis consequuntur voluptates saepe magnam possimus natus, dolorem vel, harum ut reiciendis autem? Assumenda, deserunt.
      .ed-item
        .servicio
          span
            i.fa.fa-plus.fa-2x
          h3.servicio__title Deve Quickly
          p.servicio__description
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sequi placeat maxime voluptatum est eos perspiciatis consequuntur voluptates saepe magnam possimus natus, dolorem vel, harum ut reiciendis autem? Assumenda, deserunt.
    section#clientes
      .ed-container
        .ed-item
          .clientes
            h2.clientes__titulo
            .clientes__nav
              .clientes__nav--item.clientes__nav.clientes__nav__item--prev
              .clientes__nav--item.clientes__nav.clientes__nav__item--next
        .ed-item
          .cliente
            img.cliente__img(src="img/fotoCristian.png")
            h3.cliente__title Cliente 1
            p.cliente__description
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, maiores?
        .ed-item
          .cliente
            img.cliente__img(src="img/fotoFausto.png")
            h3.cliente__title Cliente 2
            p.cliente__description
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, maiores?
        .ed-item
          .cliente
            img.cliente__img(src="img/fotoJavier.png")
            h3.cliente__title Cliente 3
            p.cliente__description
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, maiores?
    section#noticias
      .ed-container
        .ed-item
          .noticia
            h3.noticia__title Develop Quikly.
              span dev very very fast
            img.noticia__img(src="img/noticia1.jpg")
            p.noticia__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorum nulla eius. Sunt quos, eius molestiae reiciendis! Libero ut, quibusdam.
        .ed-item
          .noticia
            h3.noticia__title Web Design.
              span design for app webs
            img.noticia__img(src="img/noticia2.jpg")
            p.noticia__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorum nulla eius. Sunt quos, eius molestiae reiciendis! Libero ut, quibusdam.
        .ed-item
          .noticia
            h3.noticia__title Web Quik Design responsively.
              span Mobile first
            img.noticia__img(src="img/noticia3.jpg")
            p.noticia__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorum nulla eius. Sunt quos, eius molestiae reiciendis! Libero ut, quibusdam.
    footer#footer
      .ed-container
        .ed-item
          p.creditos | DeveloPlus &copy; 2016 | Privacy Policy |
        .ed-item
          .sociales
            a.sociales__item(href="#")
              i.fa.fa-facebook.fa-2x
            a.sociales__item(href="#")
              i.fa.fa-twitter.fa-2x
            a.sociales__item(href="#")
              i.fa.fa-instagram.fa-2x
