#footer{
  background: $verde;
  color:#fff;
  font-size: .9em;
  padding: 1em 0;
  @include hasta(tablet){
    text-align: center;
  };


}

.creditos{
  @include desde(tablet){
    padding-top:1em;
  };
  margin-bottom: 0;
}
