#header{
  background: $verde;
  color:#fff;
}

.logo{
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  color:#fff;
  font-family: "Open Sans";
  margin:.5em 0 0;
  span{
    font-weight: 600;
    color:$amarillo;
  }
}

.subtitle{
  font-family: $header--font-family;
  font-weight: 300;
  opacity: .7;
  text-align: center;
  letter-spacing: -0.04em;
}
