#mostrar-menu{
  background: $amarillo;
  padding-left: 1em;
  line-height: 2.5;
  color: $verde;
  cursor: pointer;
  //@include mostrar-menu($verde,1em);
  a{
    color: $verde;
    &:hover{
      color:darken($verde,10%);
    }
  }
  @include desde(web){
    display:none;
  }
}
.menu{
  list-style: none;
  margin:0;
  padding:0;

  @include hasta(web){
    display: none;
    background: lighten($amarillo,10%);
    &__link{
      color:$verde;
       padding-left: 1em;
        line-height: 2em;
      &:hover{
        color: darken($verde,10%);
      }
    }
  }

  @include desde(web){
    display: table; //para que el contenedor sea del tamanño de su contenido
    float: right;
    margin-top: 1.3em;

    &__item{
        float: left;
    }
    &__link{
       line-height: 2.5;
       color: #fff;
       text-transform: uppercase;
        padding: 0 1em .5em;
        font-weight: 300;
        font-family: $header--font-family;
        opacity: .7;
        border-right: 1px solid rgba(#fff,.3);
       &:hover{
         opacity: 1;
       }
    }
  }
}
